{{yield}}
<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><div class="user-view">
      <div class="background">
        <img src="{{rootURL}}/images/backgroundMenu.jpg" style="width: 100%; height: 100%">
      </div>
      <a href="#user"><img class="circle" src="{{rootURL}}/images/no_avatar.png"></a>
      <a href="#name"><span class="white-text name">{{usuario.usuario.nome}}</span></a>
      <a href="#email"><span class="white-text email">{{usuario.usuario.registro}}</span></a>
    </div></li>
  <li><a href="#!"><i class="material-icons">account_circle</i>Meus Dados</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="#!" {{action "abrirItemMenu" "base.paciente.novo"}}><i class="material-icons">group</i>Pacientes</a></li>
  <li><a href="#!" {{action "abrirItemMenu" "base.atendimento"}}><i class="material-icons">perm_contact_calendar</i>Atendimentos</a></li>
  <li><a href="#!"><i class="material-icons">event</i>Reuniões</a></li>
  <li><a href="#!"><i class="material-icons">insert_drive_file</i>Relatórios</a></li>
</ul>
