<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="{{rootURL}}/images/backgroundMenu.jpg" alt="Imagem de fundo" class="background-img">
      </div>
      {{#if usuario.usuario.foto }}
        <a href="#user"><img class="circle" src="{{rootURL}}/images/{{usuario.usuario.foto}}" alt="Foto do usuário"></a>
      {{else}}
        <a href="#user"><img class="circle" src="{{rootURL}}/images/no_avatar.png" alt="Usuário sem foto"></a>
      {{/if}}

      <a href="#name"><span class="white-text name">{{usuario.usuario.nome}}</span></a>
      <a href="#email"><span class="white-text email">{{usuario.usuario.registro}}</span></a>
    </div>
  </li>
  <li><a class="link" role="button" {{action "abrirItemMenu" "base.profile"}}><i class="material-icons">account_circle</i>Meus Dados</a></li>
  <li>
    <div class="divider"></div>
  </li>  
  {{#if usuario.usuario.isFisioHealth }}
    {{#if (eq usuario.usuario.email 'fisio.health4@hotmail.com')}}
      <li><a class="link" role="button" {{action "abrirItemMenu" "base.setor.novo"}}><i class="material-icons">local_hospital</i>Setor</a></li>
    {{/if}}
    <li><a class="link" role="button" {{action "abrirItemMenu" "base.assistencia.novo"}}><i class="material-icons">perm_contact_calendar</i>Assitência</a></li>
    <li><a class="link" role="button" {{action "abrirItemMenu" "base.relatorio-assistencia"}}><i class="material-icons">insert_drive_file</i>Relatórios</a></li>
  {{else}}
    <li><a class="link" role="button" {{action "abrirItemMenu" "base.paciente.novo"}}><i class="material-icons">group</i>Pacientes</a></li>
    <li><a class="link" role="button" {{action "abrirItemMenu" "base.atendimento.novo"}}><i class="material-icons">perm_contact_calendar</i>Atendimentos</a></li>
    <li><a class="link" role="button" {{action "abrirItemMenu" "base.reuniao.novo"}}><i class="material-icons">event</i>Reuniões</a></li>
    <li><a class="link" role="button" {{action "abrirItemMenu" "base.relatorio"}}><i class="material-icons">insert_drive_file</i>Relatórios</a></li>    
  {{/if}}
</ul>
