<div class="row formulario">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
        <form {{action "atualizarPaciente" on="submit"}}>
          <div class="row">
            <h4>Atualizar Paciente</h4>
            <div class="input-field col s12 m8">
              <label>Nome do paciente</label>
              {{input id="inputNome" class="nome" value=paciente.nome required=true maxlength=33}}
            </div>
            <div class="input-field col s12 m4 combo">
              <div class="labelForm">Situação</div>
              {{#power-select selected=paciente.situacao
                              options=listaSituacao
                              onchange=(action "selecionaSituacao")
                              as |situacao|}}
                {{situacao}}
              {{/power-select}}
            </div>
          </div>
          <div class="row">
            <div class="col s12 right-align">
              <a class="btn wave-effects wave-light btn-form" role="button" {{action "cancelarEdicao"}}>Cancelar</a>
              <a class="excluir btn wave-effects wave-light btn-form" role="button" {{action "confirmarExclusao"}}>Excluir</a>
              <button type="submit" class="salvar btn wave-effects wave-light btn-form" >Atualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{modal-confirm idModal="modalConfirmarExclusao" title="Confirmação" content="Deseja excluir este paciente?" actionConfirm=(action "excluirPaciente")}}

{{outlet}}
