{{outlet}}

<div class="tabela-dados">
  <div class="titulo-tabela">
    <h4>Atendimentos</h4>
    <a class='link' {{action "exibirFiltroAction"}} title="Filtros"><i class="material-icons">filter_list</i></a>
  </div>

  {{#if exibirFiltro}}
    <div class="row" style="padding-top: 20px">
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Mês</div>
        {{#power-select selected=mes
                        options=listaMeses
                        onchange=(action "selecionaMes")
                        as |mes|}}
            {{mes}}
        {{/power-select}}
      </div>
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Ano</div>
        {{#power-select selected=ano
                        options=listaAnos
                        onchange=(action "selecionaAno")
                        as |ano|}}
            {{ano}}
        {{/power-select}}
      </div>
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Paciente</div>
        {{#power-select selected=nmPaciente
                        options=listaPacientes
                        onchange=(action "selecionaPaciente")
                        as |paciente|}}
            {{paciente}}
        {{/power-select}}
      </div>
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Compatilhamento</div>
        {{#power-select selected=nmGrupoCompartilhamento
                        options=gruposCompartilhamento
                        onchange=(action "selecionaCompartilhamento")
                        as |grupo|}}
            {{grupo}}
        {{/power-select}}
      </div>
    </div>
  {{/if}}

  <table class="highlight">
    <thead>
      <tr>
          <th>
            <a class="link" {{action "ordenar" "dtAtendimento"}}>
              Data
              {{#if (eq ordenacaoESentido 'dtAtendimento:desc')}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido 'dtAtendimento:asc')}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>
          <th>
            <a class="link" {{action "ordenar" "nmPaciente"}}>
              Paciente
              {{#if (eq ordenacaoESentido 'nmPaciente:desc')}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido 'nmPaciente:asc')}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>
          <th>
            <a class="link" {{action "ordenar" "valorNumber"}}>
              Valor
              {{#if (eq ordenacaoESentido 'valorNumber:desc')}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido 'valorNumber:asc')}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>
          <th>
            <a class="link" {{action "ordenar" "nmGrupoCompartilhamento"}} title="Grupo de Compartilhamento">
              Comp.
              {{#if (eq ordenacaoESentido 'nmGrupoCompartilhamento:desc')}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido 'nmGrupoCompartilhamento:asc')}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>
      </tr>
    </thead>

    <tbody>
      {{#each atendimentosOrdenados as |atendimento|}}
        <tr class="link" {{action "editarAtendimento" atendimento}}>
          <td>{{moment-format atendimento.dtAtendimento 'DD/MM/YYYY'}}</td>
          <td>{{atendimento.nmPaciente}}</td>
          <td>{{atendimento.valor}}</td>
          <td>{{atendimento.nmGrupoCompartilhamento}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div id="btnScrollTop" class="fixed-action-btn btn-scroll-top" style="display: none;">
  <a class="btn-floating btn-medium waves-effects waves-light" {{action "scrollUp"}}>
    <i class="material-icons">arrow_upward</i>
  </a>
</div>
