{{outlet}}

<div class="tabela-header">
  <div class="titulo-tabela">
    <h4>Atendimentos</h4>
    <a class="link" role="button" {{action "exibirFiltroAction"}} title="Filtros"><i class="material-icons">filter_list</i></a>
  </div>

  {{#if exibirFiltro}}
    <div class="row filtro-div">
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Mês</div>
        {{#power-select selected=mes
                        options=listaMeses
                        onchange=(action "selecionaMes")
                        as |mes|}}
          {{mes}}
        {{/power-select}}
      </div>
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Ano</div>
        {{#power-select selected=ano
                        options=listaAnos
                        onchange=(action "selecionaAno")
                        as |ano|}}
          {{ano}}
        {{/power-select}}
      </div>
      <div class="input-field col s12 m3 combo">
        <div class="labelForm">Paciente</div>
        {{#power-select selected=nmPaciente
                        options=listaPacientes
                        onchange=(action "selecionaPaciente")
                        noMatchesMessage="Sem registros"
                        as |paciente|}}
          {{paciente}}
        {{/power-select}}
      </div>      

      {{#if (eq usuario.usuario.profissao "Fisioterapeuta")}}
        <div class="input-field col s12 m3 combo">
          <div class="labelForm">Tipo</div>
          {{#power-select selected=tipoAtendimento
                          options=tiposAtendimento
                          onchange=(action "selecionaTipoAntedimento")
                          noMatchesMessage="Sem registros"
          as |tipo|}}
            {{tipo}}
          {{/power-select}}
        </div>
      {{/if}}

    </div>
  {{/if}}
</div>
<div class="tabela-dados">
  <table class="highlight">
    <thead>
      <tr>
        <th>
          <a class="link" role="button" {{action "ordenar" "dtAtendimento"}}>
            Data
            {{#if (eq ordenacaoESentido "dtAtendimento:desc")}}
              <i class="material-icons">arrow_drop_up</i>
            {{/if}}
            {{#if (eq ordenacaoESentido "dtAtendimento:asc")}}
              <i class="material-icons">arrow_drop_down</i>
            {{/if}}
          </a>
        </th>
        <th>
          <a class="link" role="button" {{action "ordenar" "nrPaciente"}}>
            Nr. Atendimento
            {{#if (eq ordenacaoESentido "nrPaciente:desc")}}
              <i class="material-icons">arrow_drop_up</i>
            {{/if}}
            {{#if (eq ordenacaoESentido "nrPaciente:asc")}}
              <i class="material-icons">arrow_drop_down</i>
            {{/if}}
          </a>
        </th>
        <th>
          <a class="link" role="button" {{action "ordenar" "nmPaciente"}}>
            Paciente
            {{#if (eq ordenacaoESentido "nmPaciente:desc")}}
              <i class="material-icons">arrow_drop_up</i>
            {{/if}}
            {{#if (eq ordenacaoESentido "nmPaciente:asc")}}
              <i class="material-icons">arrow_drop_down</i>
            {{/if}}
          </a>
        </th>
        {{#if (not-eq usuario.usuario.profissao "Fisioterapeuta")}}
          <th>
            <a class="link" role="button" {{action "ordenar" "valorNumber"}}>
              Valor
              {{#if (eq ordenacaoESentido "valorNumber:desc")}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido "valorNumber:asc")}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>          
        {{/if}}

        {{#if (eq usuario.usuario.profissao "Fisioterapeuta")}}
          <th>
            <a class="link" role="button" {{action "ordenar" "tipo"}} title="Tipo de Atendimento">
              Tipo
              {{#if (eq ordenacaoESentido "tipo:desc")}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido "tipo:asc")}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>
          <th>
            <a class="link" role="button" {{action "ordenar" "valorNumber"}}>
              Valor
              {{#if (eq ordenacaoESentido "valorNumber:desc")}}
                <i class="material-icons">arrow_drop_up</i>
              {{/if}}
              {{#if (eq ordenacaoESentido "valorNumber:asc")}}
                <i class="material-icons">arrow_drop_down</i>
              {{/if}}
            </a>
          </th>
        {{/if}}
      </tr>
    </thead>

    <tbody>
      {{#each atendimentosOrdenados as |atendimento|}}
        <tr class="link" role="button" {{action "editarAtendimento" atendimento}}>
          <td>{{moment-format atendimento.dtAtendimento "DD/MM/YYYY"}}</td>
          <td>{{atendimento.nrPaciente}}</td>
          <td>{{atendimento.nmPaciente}}</td>
          {{#if (not-eq usuario.usuario.profissao "Fisioterapeuta")}}
            <td>{{atendimento.valor}}</td>            
          {{/if}}
          {{#if (eq usuario.usuario.profissao "Fisioterapeuta")}}
            <td>{{atendimento.tipo}}</td>
            <td>{{atendimento.valor}}</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div id="btnScrollTop" class="fixed-action-btn btn-scroll-top hidden">
  <a class="btn-floating btn-medium waves-effects waves-light" role="button" {{action "scrollUp"}}>
    <i class="material-icons">arrow_upward</i>
  </a>
</div>
