<div class="row formulario">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <h4 class="titulo-grupo">Novo Grupo</h4>
          <div class="col s12 m6 center-align">
            <button type="button" name="button" class="btn waves-effects waves-light btn-form"
                    {{action "criarGrupoSOSVidaFono"}}>
              Criar Grupo SOS Vida Fono
            </button>
          </div>
          <div class="col s12 m6 center-align">
            <button type="button" name="button" class="btn waves-effects waves-light" {{action "criarGrupoSOSVidaFisio"}}>
              Criar Grupo SOS Vida Fisio
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 center-align hidden">
            <button type="button" name="button" class="btn waves-effects waves-light btn-form"
                    {{action "criarGrupoParticular"}}>
              Criar Grupo Particulares
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabela-header">
  <div class="titulo-tabela">
    <h4>Grupos</h4>
  </div>
</div>
<div class="tabela-dados">
  {{#card-collapsible}}
    <ul class="collapsible" data-collapsible="accordion">
      {{#each gruposCompartilhamentoOrdenado as |grupo index|}}
        <li class={{if (eq index 0) "active" ""}}>
          <div class="collapsible-header">
            <i class="material-icons">share</i>{{grupo.nome}}
            {{#if grupo.principal}}
              <i class="material-icons grupo-principal" title="Grupo principal">check</i>
            {{/if}}
          </div>
          <div class="collapsible-body">
            {{#if (gt grupo.listaUsuarios.length  0)}}
              <span>Este grupo está sendo compartilhado com:</span>
              {{#each grupo.listaUsuarios as |usuario|}}
                <div class="usuario-grupo"> {{usuario.nome}} ({{usuario.email}})</div>
              {{/each}}
            {{else}}
              <span>Este grupo não é compartilhado</span>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/card-collapsible}}
</div>

{{outlet}}
