{{outlet}}
<div class="lista-collection">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Pacientes</h4></li>
    {{#each pacientesOrdenados as |paciente|}}
      <li class="collection-item">
        <div>{{paciente.nome}}
          <a href="#" {{action "confirmarExclusao" paciente}} class="secondary-content">
            <i class="material-icons">delete</i>
          </a>
          <a href="#" {{action "editarPaciente" paciente}} class="secondary-content">
            <i class="material-icons">edit</i>
          </a>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

{{modal-confirm idModal="modalConfirmarExclusao" title="Confirmação" content="Deseja excluir este paciente?" actionConfirm=(action "excluirPaciente")}}
