{{outlet}}

<div class="tabela-header">
  <div class="titulo-tabela">
    <h4>Query de Atendimentos</h4>    
  </div>
</div>
<div>
  Total de atendimento: {{totalAtendimentos}}
</div>
<div>
  Total de atendimento de R$38,00: {{totalAtendimentos38}}
</div>
<div>
  Total de atendimento de R$40,00: {{totalAtendimentos40}}
</div>
<div>
  Total de atendimento de outros valores: {{totalAtendimentosOutros}}
</div>
