<div class="row formulario">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <form {{action "atualizarAtendimento" on="submit"}}>
          <div class="row">
            <h4>Atualizar Atendimento</h4>
            <div class="input-field col s12 m2">
                <label>Data</label>
                {{pikaday-input readonly="readonly" value=atendimento.dtAtendimento onSelection=(action 'selecionaData') format="DD/MM/YYYY"}}
            </div>
            <div class="input-field col s12 m5 combo">
              <div class="labelForm">Paciente</div>
              {{#power-select selected=atendimento.paciente
                              options=pacientes
                              onchange=(action "selecionaPaciente")
                              searchField="nome" as |paciente|}}
                  {{paciente.nome}}
              {{/power-select}}
            </div>
            <div class="col s12 m2">
                {{input-text label="Valor" value=atendimento.valor mask="#.##0,00" reverseMask=true}}
            </div>
            <div class="input-field col s12 m3 combo">
              <div class="labelForm">Grupo de Compartilhamento</div>
              {{#power-select selected=grupoCompartilhamento
                              options=gruposCompartilhamento
                              onchange=(action "selecionaGrupoCompartilhamento")
                              noMatchesMessage="Sem registros cadastrado"
                              searchField="nome" as |grupo|}}
                  {{grupo.nome}}
              {{/power-select}}
            </div>
          </div>
          <div class="row">
            <div class="col s12 right-align">
                <a class="btn wave-effects wave-light" {{action "cancelarEdicao"}}>Cancelar</a>
                <a class="btn wave-effects wave-light" {{action "confirmarExclusao"}}>Excluir</a>
                <button type="submit" class="btn wave-effects wave-light">Atualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{modal-confirm idModal="modalConfirmarExclusao" title="Confirmação" content="Deseja excluir este atendimento?" actionConfirm=(action "excluirAtendimento")}}
{{outlet}}
