<div class="row formulario">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <form {{action "salvarAtendimento" on="submit"}}>
          <div class="row">
            <h4>Novo Atendimento</h4>
            <div class="input-field col s12 m2">
              <label>Data</label>
              {{pikaday-input readonly="readonly" value=dtAtendimento onSelection=(action "selecionaData") format="DD/MM/YYYY"}}
            </div>
            <div class="input-field col s12 m5 combo">
              <div class="labelForm">Paciente</div>
              {{#power-select selected=paciente
                              options=pacientes
                              onchange=(action "selecionaPaciente")
                              noMatchesMessage="Sem registros"
                              triggerClass="selectPaciente"
                              searchField="nome" as |paciente|}}
                {{paciente.nome}}
              {{/power-select}}
            </div>
            <div class="col s12 m2">
              {{input-text label="Valor" type="tel" value=valor mask="#.##0,00" reverseMask=true}}
            </div>
            <div class="input-field col s12 m3 combo">
              <div class="labelForm">Grupo de Compartilhamento</div>
              {{#power-select selected=grupoCompartilhamento
                              options=gruposCompartilhamento
                              onchange=(action "selecionaGrupoCompartilhamento")
                              noMatchesMessage="Sem registros"
                              searchField="nome" as |grupo|}}
                {{grupo.nome}}
              {{/power-select}}
            </div>
          </div>
          <div class="row">
            <div class="col s12 right-align">
              <button type="submit" class="salvar btn wave-effects wave-light">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{outlet}}
