<div class="row formulario">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <form {{action "atualizarReuniao" on="submit"}}>
          <div class="row">
            <h4>Atualizar Reunião</h4>
            <div class="input-field col s12 m3">
                <label>Data</label>
                {{pikaday-input readonly="readonly" readonly="readonly" value=reuniao.dtReuniao onSelection=(action 'selecionaData') format="DD/MM/YYYY"}}
            </div>
            <div class="col s12 m3">
                {{input-text label="Duração" type="tel" value=reuniao.duracao mask="00:00"}}
            </div>
            <div class="col s12 m3">
                {{input-text label="Valor" value=valor disabled=true mask="#.##0,00" reverseMask=true}}
            </div>
            <div class="input-field col s12 m3 combo">
              <div class="labelForm">Grupo de Compartilhamento</div>
              {{#power-select selected=grupoCompartilhamento
                              options=gruposCompartilhamento
                              onchange=(action "selecionaGrupoCompartilhamento")
                              noMatchesMessage="Sem registros"
                              searchField="nome" as |grupo|}}
                  {{grupo.nome}}
              {{/power-select}}
            </div>
            <div class="col s12">
                {{input-text label="Descricao" value=reuniao.descricao maxlength=70}}
            </div>
          </div>
          <div class="row">
            <div class="col s12 right-align">
                <a class="btn wave-effects wave-light" style="margin-bottom: 20px;" {{action "cancelarEdicao"}}>Cancelar</a>
                <a class="btn wave-effects wave-light" style="margin-bottom: 20px;" {{action "confirmarExclusao"}}>Excluir</a>
                <button type="submit" style="margin-bottom: 20px;" class="btn wave-effects wave-light">Atualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{modal-confirm idModal="modalConfirmarExclusao" title="Confirmação" content="Deseja excluir esta reunião?" actionConfirm=(action "excluirReuniao")}}
{{outlet}}
