<div id="conta-page" class="row conta-page">
  <div class="col s12 m4 offset-m4 z-depth-4 card-panel">
    <form {{action "criarConta" on="submit"}}>
      <div class="row margin div-titulo">
        <div class="col s12 center">
          <h4>Cadastro</h4>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">person_outline</i>
          {{input value=nome required=true placeholder="Nome" maxlength=30}}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">assignment</i>
          {{input value=registro required=true placeholder="Registro" maxlength=20}}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">email</i>
          {{input value=email required=true placeholder="E-mail" maxlength=50}}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">lock_outline</i>
          {{input type="password" required=true value=senha placeholder="Senha" maxlength=20}}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">lock_outline</i>
          {{input type="password" required=true value=senhaConfirm placeholder="Repita sua senha"  maxlength=20}}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button type="submit" class="btn waves-effect waves-light col s12">Cadastrar</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="center medium-small">
            {{#link-to "login" class="link-text" }}Já possuo conta!{{/link-to}}
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

{{outlet}}
